# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env

# Data
data/raw/*.csv
*.csv
*.dump
*.sql.gz

# Jupyter/Notebooks
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Node & Frontend
node_modules/
dist/
src/web/node_modules/
src/web/dist/
src/web/.vite/
.env.local
